<div id="left-nav-container">
  <nav>
    <ul id="nav-items">
      <li><a routerLink="/home" routerLinkActive="active" class="navigationLink"><mat-icon class="navIcon">home</mat-icon><span>Home</span> </a></li>
      <li><a routerLink="/explore" routerLinkActive="active"  class="navigationLink"><mat-icon class="navIcon">tag</mat-icon> <span>Explore</span></a></li>
      <li><a routerLink="/bookmarks" routerLinkActive="active"  class="navigationLink"><mat-icon class="navIcon">bookmark</mat-icon><span>Bookmarks</span> </a></li>
      <li><a routerLink="/favorites" routerLinkActive="active"  class="navigationLink"><mat-icon class="navIcon">star</mat-icon> <span>Favorites</span></a></li>
    </ul>
  </nav>
</div>
