<form id="post-form" (ngSubmit)="postStatus()" #PostForm="ngForm">
  <textarea id="status-input" name="statusInput" [(ngModel)]="statusText" (input)="updateCharacterCount()"
            placeholder="What's on your mind?"></textarea>
  <div id="post-actions">
    <span id="character-count {{characterCount > 500 ? 'over-limit' : ''}}">{{ characterCount }}</span>/<span
    id="available-character-count">500</span>
    <button id="submit-post" [disabled]="characterCount > 500 || !statusText">Post</button>
  </div>


</form>
