<div class="tag-search-result">
  <div class="tag-info">
    <h3><a routerLink="/tags/{{tag.tag}}" class="tag">#{{ tag.tag }}</a></h3>
    <div class="infoBoxes">
      <div class="basic-box box1"><span class="info-header">First Seen</span>YYYY-MM-DD</div>
      <div class="basic-box box2"><span class="info-header">Total Usage</span>4</div>
      <div class="basic-box box3"><span class="info-header">Total Posts</span>4</div>
      <div class="basic-box box4"><span class="info-header">Total Profiles</span>4</div>
    </div>

  </div>
</div>
